.banner {
  background-image: url('../../images/background.png');
  background-size: cover;
  background-position: center;
}

.banner .container {
  color: white;
}

.container {
  padding: 100px 90px;
  text-align: justify;
}

.container > p {
  color: rgb(160, 160, 160);
  font-size: 22px;
}

.container > a {
  background-color: #1DDD88;
  border-radius: 65px;
  color: white;
  padding: 20px 45px;
}

.container-p2 > h2 {
  text-align: center;
  padding-top: 0px;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
